.DS_Store
.ipynb_checkpoints/
__pycache__/
train_cannon_model/temp_20230218_175115/
process_GALAH_data/GALAH_data_tables/
train_cannon_model/cannon_models/
train_cannon_model/data_files/
data/
temp_20230503_165316/
scratch_workspace.ipynb

